@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root {
  --primaryColor: #d6d4d0;
  --mainWhite: #fff;
  --mainBlack: black;
  --mainGrey: grey;
  --mainSpacing: 0.5rem;
  --secondarySpacing: 0.25rem;
  --mainTransition: all 0.55s ease-in-out;;
  --mainRed: rgb(139, 55, 55);
  --mainBlue: rgb(44, 163, 184);
  --mainGreen: rgb(92, 194, 172);
  --secondaryColor: rgb(250, 232, 192);
  --mainGold: rgb(208, 198, 57);
  --secondaryGold: rgb(151, 64, 1);
  --thirdGold: rgb(228, 82, 15);
}

html {
    box-sizing: border-box;
    background: var(--primaryColor);
  }
  body {
    min-height: calc(100vh - 70px);
    margin: 0;
    
  }

  .about{
    border-bottom: 2px solid black;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .navbar {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--primaryColor);
    z-index:2;
}

.navbar-center {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;

}  


.navbar-brand {
  font-family: 'Alfa Slab One', cursive;
  height: 50px;
  padding: 15px 15px;
  line-height: 20px;
  font-size: 34px;
  text-decoration: none;
  color: var(--mainGreen);
  -webkit-text-stroke: 1px grey;
  
}

.navbar-nav{
  display:flex;
  list-style:none;
  
}

.nav-icons {
  font-size: 1.5rem;
}

.nav-icon {
  display:none !important;
}

.fas.fa-bars {
  display:none !important;
}

.navigation{
  margin-left:0;
  text-decoration:none;
  color: var(--mainBlack);
  font-size: 1rem;
  padding: .5rem .5rem;
  cursor: pointer;
  transition: var(--mainTransition);
 
}

.navactive{
  border-bottom: var(--mainBlack)1px solid;
}

.navigation:hover {
  color: var(--mainGreen) !important;
  
}

.side-nav{
  height:100%;
  width: 0;
  position: fixed;
  top:0;
  left:0;
  opacity:0.9;
  background-color: #111;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover{
  cursor:pointer;
  color: var(--mainWhite) !important;
}

.side-nav .btn-close{
  position: absolute;
  top:0;
  right: 22px;
  font-size:36px;
  margin-left:50px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  margin-top:60px;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.banner-front {
 margin-top:60px;
  padding: 2rem;
}

.banner-title{
  margin-bottom: 3rem;
  color: var(--mainGreen);
  font-family: 'Alfa Slab One', cursive;
  font-size: 110px;
  font-weight: 700;
  -webkit-text-stroke: .5px;
  -webkit-text-stroke-color: black;
}
.banner-title-front{
  margin-bottom: 3rem;
  color: var(--mainGreen);
  font-family: 'Alfa Slab One', cursive;
  font-size: 110px;
  font-weight: 700;
  -webkit-text-stroke: .25px;
  -webkit-text-stroke-color: black;
}
.banner-sub-title{
  text-align: center;
  font-size: 2.5rem;
  color: var(--mainGreen);
  font-style: italic;
  font-family: 'Lobster', cursive;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: black;
  margin-bottom: 1rem;
}

.about{
  margin:0;
  border-top: 3px solid black;
 
  }
  
.bio{
    margin:0; 
}

.bio-about{
    margin:5rem;
    color: var(--mainBlack);
    font-family: 'Lobster', cursive;
    font-size:20px;
    line-height:1.5;
   
}

body.loaded {
    opacity: 1;
    transition: 5s opacity;
}

.headline{
    position:relative;
    width:100%;
    height:100vh;
    color:#fff;
    opacity:0.7;
    font-family: 'Lobster', cursive;
    overflow:hidden;
    backface-visibility: hidden;
    pointer-events: none;
  }

.headline .background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transform: translate3d(0,0,0) scale(1.5);
    background: black url('img/ocean.jpg') no-repeat center center; 
    background-size: cover;
   
}
  
  
.loaded .headline .background {
    transform: scale(1);
    transition: 20.5s transform;
  }

.image-container{
      width:100%;
      min-height: calc(100vh - 70px);
    
  }

 
.extra-section{
    width:100%;
    height:300px;
    background-color: #293f49;
   /*border-top:10px solid black;*/
  }

/*.btn-container{
  display:flex;
  text-align:center;
  margin-top:400px;
  z-index:1;
 
}

.btn{
  position:absolute;
	background: #34b3a0;
	color:#fff;
	font-size: .9rem !important;
	padding: .5rem 1rem !important;
  text-decoration: none;
  border-radius:10px;
  margin-left: 650px;;
  margin-right: auto;
  opacity: 0.8;
  transition: all 0.6s ease-in-out !important; 
} 

.btn:hover {
  padding: .9rem 1.5rem !important;
  color: #0c65a0;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.596);
  transition: all 0.6s ease-in-out !important;
  opacity: 0.6;

}*/

footer{
  margin:0;
  background-color:var(--mainBlue);
  color:var(--mainWhite);
  height: 300px;
  border-top: 1px solid black;
}

.copyright{
  color: var(--mainWhite);
  text-align:center;
 }
 
 .social-icons{
    padding:0;
    text-align:center;
 }
 
 li.color{
     margin-top:100px;
     display: inline-block;
     padding: 20px 80px 40px 80px;
     font-size: 1.5rem;
     align-content: space-between;
    
 }
 
 a.icons{
     color:white;
     transition: all 0.5s ease-in-out;
 }
 
 a.icons:hover{
  color: var(--mainRed);
 }

 .sectionid-contact{
  
  font-family: 'Cinzel', serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  border-top: 2px solid black;
}

article{
  padding: 4rem 0;
}

.contact-info{
  font-size:1.5rem;
  text-align:center;
  font-family: 'Cinzel', serif;
  color: var(--mainBlack);
  -webkit-text-stroke: 0.25px var(--mainRed);
  text-decoration: none;
  transition: var(--mainTransition);
}

.contact-info:hover{
  color: var(--mainBlack);
  transition: var(--mainTransition);
  -webkit-text-stroke: 0.5px var(--mainBlue);
}

.gallery{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:90px;
}


.gallery img{
  margin:10px;
  transition: 1s;
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.gallery img:hover{
  filter: grayscale(100%);
  transform: scale(1.1);
}  

.img-container p{
text-align: center;
}

.img-container{
  margin-left:auto;
  margin-right:auto;
  width: 400px;
  height: 300px;
 
}

.article-container p{
  text-align: center;
  font-family: 'Cinzel', serif;
  color: var(--mainBlack);
  -webkit-text-stroke: 0.25px var(--mainRed);
}

@media only screen and (max-width: 768px) and (orientation : portrait){


  .banner-title{
    margin-top:100px;
    font-size: 45px;
  }
  .banner-title-front{
    margin-top:100px;
   font-size: 45px;
  }

  .banner-sub-title{
    font-size: 1.75rem;
  }


.navbar-nav{
    display:none;
    
  }

  .nav-icon {
    display:block !important;
    font-size: 1.5rem;
    cursor:pointer;
    z-index:2;
  }

  .fas.fa-bars {
    display:block !important;
    cursor: pointer !important;
   }

  .navigation{
    display: none !important;
   
}

  .navbar-brand {
    padding-top: 10px;
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px;
    font-size: 32px !important;
}

  .img-container{
    width: 200px;
    height: 150px;
   
  }

  .gallery{
    grid-template-columns: 1fr;
    grid-gap:45px;
    margin: 50px 25px 50px 25px;
   
  }
  .sectionid-contact{
    grid-template-columns: 1fr;
    grid-column-gap: .75rem;
    grid-row-gap: 1rem;
   
  }

  li.color{
    padding: 20px 20px 20px 20px;
   
}


}

@media only screen and (max-width: 742px) and (orientation : landscape){

  .banner-title{
    font-size: 25px;
  }
  .banner-title-front{
   font-size: 25px;
  }

}

@media only screen and (max-width: 667px) and (orientation: landscape){
 
}

@media only screen and (max-width: 380px) and (orientation : portrait){


}